<a href="https://colab.research.google.com/github/JSJeong-me/JBNU-2021/blob/main/Preprocessing/SimpleImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#np.nan
#np.na
#null

In [1]:
# statistical imputation transform for the horse colic dataset

from numpy import isnan
from pandas import read_csv, DataFrame
from sklearn.impute import SimpleImputer

In [2]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
dataframe = read_csv(url, header=None, na_values='?')

In [ ]:
dataframe.info()

In [4]:
dataframe.describe()

               0           1   ...           26          27
count  299.000000  300.000000  ...   300.000000  300.000000
mean     1.397993    1.640000  ...     7.363333    1.670000
std      0.490305    2.173972  ...   127.536674    0.470998
min      1.000000    1.000000  ...     0.000000    1.000000
25%      1.000000    1.000000  ...     0.000000    1.000000
50%      1.000000    1.000000  ...     0.000000    2.000000
75%      2.000000    1.000000  ...     0.000000    2.000000
max      2.000000    9.000000  ...  2209.000000    2.000000

[8 rows x 28 columns]

In [8]:
dataframe.shape

(300, 28)

In [26]:
df_tmp = dataframe.isna().sum(axis=1)

In [27]:
df_tmp.shape

(300,)

In [28]:
df_tmp.sum()

1605

In [9]:
type(dataframe)

pandas.core.frame.DataFrame

In [6]:
data_mean = dataframe.values

In [7]:
data_mf = dataframe.values

In [8]:
# split into input and output elements

ix = [i for i in range(data_mean.shape[1]) if i != 23]
X_mean, y = data_mean[:, ix], data_mean[:, 23]

# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))

Missing: 1605

In [9]:
# split into input and output elements

ix = [i for i in range(data_mf.shape[1]) if i != 23]
X_mf, y = data_mf[:, ix], data_mf[:, 23]

# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))

Missing: 1605

In [16]:
# define imputer
imputer = SimpleImputer(strategy='most_frequent')

In [17]:
# fit on the dataset
imputer.fit(X_mf)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [18]:
# transform the dataset
Xtrans_mf = imputer.transform(X_mf)

# print total missing
print('Missing: %d' % sum(isnan(Xtrans_mf).flatten()))

Missing: 0

In [20]:
DataFrame(Xtrans_mean).describe().round()

          0      1          2      3   ...       23      24      25     26
count  300.0  300.0      300.0  300.0  ...    300.0   300.0   300.0  300.0
mean     1.0    2.0  1085889.0   38.0  ...   3658.0    90.0     7.0    2.0
std      0.0    2.0  1529801.0    1.0  ...   5400.0   650.0   128.0    0.0
min      1.0    1.0   518476.0   35.0  ...      0.0     0.0     0.0    1.0
25%      1.0    1.0   528904.0   38.0  ...   2112.0     0.0     0.0    1.0
50%      1.0    1.0   530306.0   38.0  ...   2674.0     0.0     0.0    2.0
75%      2.0    1.0   534728.0   38.0  ...   3209.0     0.0     0.0    2.0
max      2.0    9.0  5305629.0   41.0  ...  41110.0  7111.0  2209.0    2.0

[8 rows x 27 columns]

In [21]:
DataFrame(Xtrans_mf).describe().round()

          0      1          2      3   ...       23      24      25     26
count  300.0  300.0      300.0  300.0  ...    300.0   300.0   300.0  300.0
mean     1.0    2.0  1085889.0   38.0  ...   3658.0    90.0     7.0    2.0
std      0.0    2.0  1529801.0    1.0  ...   5400.0   650.0   128.0    0.0
min      1.0    1.0   518476.0   35.0  ...      0.0     0.0     0.0    1.0
25%      1.0    1.0   528904.0   38.0  ...   2112.0     0.0     0.0    1.0
50%      1.0    1.0   530306.0   38.0  ...   2674.0     0.0     0.0    2.0
75%      2.0    1.0   534728.0   38.0  ...   3209.0     0.0     0.0    2.0
max      2.0    9.0  5305629.0   41.0  ...  41110.0  7111.0  2209.0    2.0

[8 rows x 27 columns]