<a href="https://colab.research.google.com/github/JSJeong-me/JBNU-2021/blob/main/Preprocessing/SimpleImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# statistical imputation transform for the horse colic dataset

from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer

In [2]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
dataframe = read_csv(url, header=None, na_values='?')

In [6]:
dataframe.describe()

               0           1   ...           26          27
count  299.000000  300.000000  ...   300.000000  300.000000
mean     1.397993    1.640000  ...     7.363333    1.670000
std      0.490305    2.173972  ...   127.536674    0.470998
min      1.000000    1.000000  ...     0.000000    1.000000
25%      1.000000    1.000000  ...     0.000000    1.000000
50%      1.000000    1.000000  ...     0.000000    2.000000
75%      2.000000    1.000000  ...     0.000000    2.000000
max      2.000000    9.000000  ...  2209.000000    2.000000

[8 rows x 28 columns]

In [22]:
df_tmp = dataframe.isna().sum(axis=1)

In [29]:
df_tmp.sum()

1605

In [ ]:
# split into input and output elements
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]

# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))

In [ ]:
# define imputer
imputer = SimpleImputer(strategy='mean')

# fit on the dataset
imputer.fit(X)

# transform the dataset
Xtrans = imputer.transform(X)

# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))