# Merging, Joining, and Concatenating

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

**Concatenation**

In [ ]:
# Concatenate objects along a particular axis

pd.concat( [df1, df2, df3] )

In [ ]:
pd.concat( [df1, df2, df3], axis = 1 )

**Merging**

In [ ]:
# Merge DataFrames joining by columns or indexes (must have a common column)

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge( left, right, how = 'inner', on = 'key' )

# Operations

**Unique Value Counts**

In [ ]:
df = pd.read_csv('gapminder.csv')
df.dropna( inplace = True )
df.head()

In [ ]:
df['continent'].unique()

In [ ]:
df['continent'].nunique()

In [ ]:
df['continent'].value_counts()

**Sorting and Ordering**

In [ ]:
df.sort_values( by = 'life_exp', ascending = False ).head(10)

https://www.usnews.com/news/best-countries/articles/2017-11-01/andorrans-live-the-longest-heres-how

**Pivot Table**

In [ ]:
df.pivot_table( values = 'income', index = ['year', 'continent'] )

**Data Input and Output**

In [ ]:
csv_df = pd.read_csv( 'example' )
csv_df

In [ ]:
csv_df.to_csv( 'example', index = False )

In [ ]:
xlsx_df = pd.read_excel( 'Excel_Sample.xlsx', sheet_name = 'Sheet1' )
xlsx_df

In [ ]:
xlsx_df.to_excel( 'Excel_Sample.xlsx', sheet_name = 'Sheet1' )

In [ ]:
html_df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
html_df[0].head()