In [2]:
import pandas as pd
import numpy as np

In [7]:
# Create a Series with an array
pd.Series([2, 3, 5], index=['first', 'second', 'third'], name='fibonacci')

first     2
second    3
third     5
Name: fibonacci, dtype: int64

In [12]:
# Create a Series with a dictionary
pd.Series({'America': 'USD', 'Britain': 'GBP', 'China': 'CNY'})

America    USD
Britain    GBP
China      CNY
dtype: object

In [19]:
# Create a Series having an NA value
s0 = pd.Series([1, 2, 3, np.nan])

In [20]:
# When na_action=None, which is the default value
# The following is the same as s0.map(lambda x: f'Number: {x}')
s0.map(lambda x: f'Number: {x}', na_action=None)

0    Number: 1.0
1    Number: 2.0
2    Number: 3.0
3    Number: nan
dtype: object

In [21]:
# When na_action='ignore'
s0.map(lambda x: f'Number: {x}', na_action='ignore')

0    Number: 1.0
1    Number: 2.0
2    Number: 3.0
3            NaN
dtype: object

In [28]:
# Create a Series consisting of percentage data as strings
percentages = pd.Series(['90.0%', '95.2%', '94%'])
percentages

0    90.0%
1    95.2%
2      94%
dtype: object

In [27]:
# Map the data using a lambda
percentages.map(lambda x: float(x[:-1]))

0    90.0
1    95.2
2    94.0
dtype: float64

In [29]:
# Create a Series of names as strings
names = pd.Series(['John A Smith', 'Jennifer M Brown', 'David D Moore'])
names

0        John A Smith
1    Jennifer M Brown
2       David D Moore
dtype: object

In [34]:
# Map the data to find out the initials
def initials(name):
    return ''.join([x[0].upper() for x in name.split()])
names.map(initials)

0    JAS
1    JMB
2    DDM
dtype: object

In [36]:
# Map the data to find out the length of each name
names.map(len)

0    12
1    16
2    13
dtype: int64

In [43]:
# Create a Series of numbers
numbers = pd.Series(range(0, 6))
numbers

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [44]:
# Create a dictionary for mapping
seasons = {1: 'Spring', 2: 'Summer', 3: 'Fall', 4: 'Winter'}
numbers.map(seasons)

0       NaN
1    Spring
2    Summer
3      Fall
4    Winter
5       NaN
dtype: object

In [45]:
import collections
seasons_default = collections.defaultdict(lambda: "Magic Season", {1: 'Spring', 2: 'Summer', 3: 'Fall', 4: 'Winter'})
numbers.map(seasons_default)

0    Magic Season
1          Spring
2          Summer
3            Fall
4          Winter
5    Magic Season
dtype: object